head, body {
    background-color: #010101ff;
}
h1 {
color:#9ed3ffff;
font-size: 70px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-top: 0.5%;
margin-bottom: 0px;
margin-left: 2%;
}

h3 {
color: #50a5ffff;
font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 5px;
margin-bottom:5px;
margin-left: 3%;
}

.BodyParagraph {
color: #008cffff;
font-weight: 300;
font-size: 30px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 1%;
}

.GMText {
    color: #3ca7ffff;
    font-size: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1%;
}
.box {
height: 50px;
width: 50 px;
padding: 10px;
margin: 0px;
border: 5px solid rgb(255, 255, 255);
}
.TopMenu {
color: #00679aff;
margin-top: 3px;
max-lines: 1;
}
.TopMenu1 {
color: rgb(42, 156, 213);
margin-top: 3px;
max-lines: 1;
margin-bottom: -2px;
}